#cake-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.Title {
    background-color: rgba(132, 248, 122, 0.7);
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: solid, 2px;
    border-color: rgb(36, 70, 49);
    border-radius: 8px;
}

.title {
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 36px;
}

#cakeBtn {
    border: 0;
    background-color: rgb(64, 164, 131);
    color: rgb(194, 233, 220);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

#cakeBtn:hover {
    background-color: blueviolet;
    transition: 0.6s;
}

body {
    background-color: rgba(227, 246, 225, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.message {
    flex-grow: 1;
    max-width: 350px;
    background-color: rgb(232, 197, 151);
    border-radius: 10px;
    padding: 5px;
}

#giftBtn {
    background-color: blueviolet;
    color: aliceblue;
    border: 0;
    border-radius: 13px;
    cursor: pointer;
}

#giftBtn:hover {
    background-color: rgb(73, 209, 164);
    transition: 0.6s;
}

#myGift {
    max-height: 200px;
}